// Place all the styles related to the api/Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @media screen and (min-width: 1500px) {  
//     .entry-page-container {width: 1248px;}   
// }


.entry-page-container { 
    margin-top: 30px;
    // margin-bottom: 80px;
    margin-left: 20px;
    justify-content: center;
    width: 1548px;
    padding-left: 5%;
    height: 100%;
    overflow-x: scroll;
}

.entry-page-body { 
    width: 70%;
    margin-right: 100px;
    padding-left: 200px;
    // margin-bottom: 10px;
    height: 100%;
    position: absolute;
    overflow-y: scroll;


    form { 
        display: block;
    }
}

#manual-entry-body { 
    margin-top: 20px;
    display: block;
    // flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;

    padding-bottom: 100px;


    legend, label { 
        color: #242428;
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 5px;
    }
}   

.row { 
    margin-left: -15px;
    margin-right: -16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    margin-bottom: -20px;
}

.row:before, .row:after {
    content: '';
    display: table;
    clear: both;
}

label { 
    cursor: pointer;
    clear: both;
    display: block;
}

input:not([type="range"]) {
    padding-left: 10px;
    padding-right: 10px;
}

input { 
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-rendering: auto;
    font: 400 13.3333px Arial;
}

.row .upload { 
    width: 25%;
}



input:not([type="range"]), textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    height: 34px;
    background-color: #fff;
    border: 1px solid #dfdfe8;
    color: #666;
    line-height: 1.4em;
}

.upload-duration {
    
    input { 
        text-align: right;
        padding-right: 20px;
        width: 100%;
    }
    
    label {
        position: absolute;
        top: 11px;
        left: 50px;
        color: #dfdfe8;
        width: fit-content;
    }
}


.duration-input { 
    position: relative;
    display: flex;
}

.input-field {
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
    width: 80px;
    position: relative;
}


.selection { 
    min-height: 34px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: block; 
}

.line { 
    margin: 30px 0;
    clear: both;
    margin: 24px 0;
    border: none;
    border-top: 1px solid #dfdfe8;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}

 input[type='submit'] { 
    background-color: #fc5200;
    border-color: #fc5200;
    color: #fff;
    border-radius: 3px;
 }

 .time-date-input-wrapper { 
     display: flex;
 }

 .row2 { 
    padding: 0 20px 20px 0;
    margin: 0 0 20px;
    margin-bottom: -20px;
 }

 .block { 
    margin-right: 10px;
 }

 #sports.selection { 
    min-height: 34px;
    margin-top: 7px;
    margin-bottom: 7px;
    display: block; 
    border: 1px solid #dfdfe8;
    border-radius: 4px;
    color: #242428;
    width: 70%;
}

.title { 
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;

    input[type='text']  { 
        width: 360%;
        padding-right: 10px;
    }
}

.upload-description { 
    width: 260%;
    height: 125px;
    resize: vertical;
    overflow: auto;
    vertical-align: top;
    font-weight: 200;
    margin: 7px 0;
}