// Place all the styles related to the api/Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media screen and (min-width: 1500px) {  
    .entry-page-container {width: 1248px;}   
}


.entry-page-container { 
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.entry-page-body { 
    width: 80%;
    padding-left: 200px;
}

.manual-entry-body { 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    width: 100%;
}   

.row { 
    margin-left: -16px;
    margin-right: -16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
}

input:not([type="range"]) {
    padding-left: 10px;
    padding-right: 10px;
}

input { 
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-rendering: auto;
    font: 400 13.3333px Arial;
}

.upload { 
    border-bottom: 1px solid #dfdfe8;
}

input:not([type="range"]), textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    height: 34px;
    background-color: #fff;
    border: 1px solid #dfdfe8;
    color: #666;
    line-height: 1.4em;
}