 .sesh-border { 
     display: flex;
     flex-direction: column;
 }
 .session-form-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 60px auto;
   align-items: center;
   border-radius: 3px;
 }

 .top { 
     width: 100%;    
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 55px;
 }

.session-form-inner {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 392.97px;
    align-items: end;
    background-color:rgba(0, 0, 0, .7);
    padding: 0 50px;
    padding-bottom: 80px;
    justify-content: center;
}

.errors-section { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    text-align: center;
    height: 60px
}

.errors { 
    display: flex;
    background-color: red;
    color: white;
    font-size: 14px;
    line-height: 1.45;
    height: 100%;
    align-items: center;
    font-family: "MaisonNeue", Helvetica, Arial, sans-serif;
}

.session-title {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 80px;
    align-items: center;
    text-align: center;

}

.session-bg { 
    position: absolute;
    min-height: 100vh;
    top: 55px;
    min-width: 100vw;
    width: 100%;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

.login-input {
    align-items: center;
 }


.login-input { 
    border-radius: 3px;
    min-width: 80px;
    width: 88.5%;
    padding: 10px 16px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, .75);
    border: 1px solid #666;
    color: #fff;
}

.login-input::placeholder { 
    color: #fff;
    opacity: 1;
}

.login-input:focus { 
    background-color: #fff;
    outline: none;
    box-shadow: 1px 1px 3px 3px rgba(255,255,255,1);
    border: none;
    color: rgba(0, 0, 0)
}

.session-form > h1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 80px;
    align-items: center;
    background-color:rgba(0, 0, 0, .85);
    padding: 50px;
}

.page-name {
    color: white;
    display: flex;
    justify-content: center;
    width: 300px;
    max-height: 120px;
    min-height: 80px;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    padding: 23px 50px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    font-family: "MaisonNeue", Helvetica, Arial, sans-serif;
}

.starva-logo { 
    position: left;
    height: 20px;
}