#splash-page {
   width: 100%;
   display: flex;
   flex-direction: column;
   height: 100vh;
   margin-top: 0em;
   align-items: center;
}

.splash-top {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 56.25px;
    align-items: center;
    /* background-color: red; */
}
/* 
.header-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
} */

.splash-body-container { 
    display: flex;
    flex-direction: column;
}

.splashphoto { 
    height: 480px;
    width: 61.5%;
}

.motto { 
    font-size: 48px;
}