.navbar {
    width: 100vw;
    width: 70%;
    margin: 0 auto;
}

.nav-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-right {
    float: right;
    width: fit-content;
    display: flex;
}


.nav-content { 
    min-height: 56.25px;
    height: 56.25px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;  
    align-content: center; 
    align-self: center;
}

.nav-content > div { 
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    align-items: center;
}


@media screen and (min-width: 1500px) { 
    .nav-content {width: 1248px;}
}

.navbar-routes {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-top: 30px;
    /* border: 1px solid black */
}


.navbar-routes:link {
    /* color: #6d6d78; */
    color: rgb(0,0,0);
    text-decoration: none;
}
.navbar-routes:visited {
    /* color: #6d6d78; */
    color: rgb(0,0,0);
    text-decoration: none;
}

.navbar-routes:hover { 
    border-top: #fff;
}
.dashboard-dropdown:hover .drop-btn { 
    color: #fc5200;
}


/* The container <div> - needed to position the dropdown content */
.dashboard-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  padding-top: 20px;
  height: 40px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #fff;
  /* background-color: #fff; */
}


.upload-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  height: 100%;
  align-items: center;
}


/* dashboard-Dropdown Content (Hidden by Default) */
.dashboard-dropdown-content {
  margin-top: 20px;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  border: 1px solid #dfdfe8;
  /* border-top: none; */
  z-index: 1;
  margin-left: -11px;
}

/* Links inside the dropdown */
.dashboard-dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dashboard-dropdown links on hover */
.dashboard-dropdown-content div:hover {background-color: #ddd;}

/* Show the dashboard-dropdown menu on hover */
.dashboard-dropdown:hover .dashboard-dropdown-content {display: block;}

.upload-dropdown:hover .dashboard-dropdown-content {display: block;}

.dashboard-dropdown:hover  {
    background-color: #fff;
    border-bottom: 3px solid black;
    border-left: 1px solid #dfdfe8;
    border-right: 1px solid #dfdfe8;
    margin-bottom: -2px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

    /* .nav-right, .nav-right-content {
        border: 1px solid red
    } */



.upload-btn { 
    height: 26px;
    width: fit-content;
    overflow: hidden;
    /* border: 1px solid red */
}

.upload-activity { 
    width: 25px;
}
.upload-activity:hover { 
    margin: -27px 0 0 0;
}