

.routes-list { 
    width: 100%;
    height: 100%;
    display: flex;
    overflow: visible;
}

.route-card { 
    width: 100%;
    height: 365px;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.routes-index-body-container { 
    display: flex;
    padding: 0 16px;
    width: 100vw;
    width: 63%;
    height: 100%;
    margin: 30px auto 80px;
    overflow: visible;

}

.routes-index-body { 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    width: 100%;
}

.routes-index-body ul { 
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 23.6%);
    justify-content: center;
    row-gap: 40px;
    column-gap: 1.6%;
    position: relative;

}

.routes-index-title {
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
}

.strava-routes { 
    /* width: 174px;
    height: 91px; */
    margin-top: 20px;
    margin-right: 9%;
}


.create-route-btn {
    width: 151px;
    height: 22px;
    background-color: #fc5200;
    border: 1px solid #fc5200;
    color: #fff;
    align-items: flex-end;
    height: 34px;
    font-weight: 700;
    font-size: 14px;
    padding: 6px;

}

@media screen and (min-width: 1500px) { 
    .routes-index-body {width: 1248px;}    
}

.routes-index-heading-row { 
    /* border: 1px solid black; */
    width: 100%;
    height: 114px;
    justify-content: space-between;
    display: flex;
}

.index-heading-border { 
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid #dfdfe8;
    margin-bottom: 54px;
}

#item-map-container { 
    height: 175px;
}

#route-item-info { 
    padding: 15px 20px;
    background-color: #f7f7fa;
    height: 100%;
    max-height: 135px;
}

#route-item-timestamp {
    color: #6d6d78;
    background-color: #f0f0f0;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 16px;
}

.route-index-item {
    max-width: 100%;
}

.route-index-item a { 
    text-decoration: none;
}

.route-index-item a:visited { 
    text-decoration: none;
}
.route-name  { 
    text-decoration: none;
    color: #007FB6;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
}

.sprite-wrench, .map-preview { 
    position: relative;
    width: 100%;
    height: 100%
}


.sprite-wrench { 
    height: 18px;
    width: 16px;
    background-position: 0 0;
    z-index: 10;
    position: absolute;
    background-color: #fff;
    opacity: 0.75;
    right: 0px;
    top: 40px;  
    /* border: 1px solid black;   */
}

.sprite-wrench:hover { 
    opacity: 1;
}


/* Dropdown Content (Hidden by Default) */
.wrench-content {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #242428;
  /* min-width: 160px; */
  overflow-y: visible;
  right: -120px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 100;

    font-size: 14px;
    min-height: 35px;
    box-sizing: border-box;
    line-height: 1.2;
    border: none;
    min-width: 120px;
  
    align-items: left;
    width: 120px;
    top: 25px;
}


.sprite-wrench-options:link { 
    background-color: #fff;
    color: #242428;
}

.sprite-wrench-options:visited { 
    background-color: #fff;
    color: #242428;
}

.wrench-btn {
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  /* border: none; */
  z-index: 2;
  position: relative;
  overflow: visible;
}

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
  position: relative;
  display: inline-block;
} */

/* Links inside the dropdown */
.wrench-content div {
  color: black;
  padding: 9px 10px;
  text-decoration: none;
  display: block;
  z-index: 10;
  overflow: visible;
}


/* Show the dropdown menu on hover */
/* .wrench-dropdown:active .wrench-content {display: block;} */
/* .sprite-wrench:hover .wrench-content {display: block;} */


 /* .wrench-dropdown:active:focus .wrench-content {display: block;} */


/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */