

.routes-list { 
    width: 100%;
    height: 100%;
    display: flex;
    overflow: visible;
}

.route-card { 
    width: 100%;
    height: 365px;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.routes-index-body-container { 
    display: flex;
    padding: 0 16px;
    /* width: 100%; */
    width: 70%;
    height: 100%;
    overflow: visible;
    justify-content: center;
}

.routes-index-body { 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    min-width: 100%;
}

.strava-routes { 
    /* width: 174px;
    height: 91px; */
    margin-top: 20px;
    margin-right: 9%;
}


.routes-index-heading-row { 
    /* border: 1px solid black; */
    width: 100%;
    height: 114px;
    justify-content: space-between;
    display: flex;
}

.routes-index-title {
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
}

.index-heading-border { 
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid #dfdfe8;
    margin-bottom: 54px;
}

.create-route-btn {
    width: 151px;
    height: 22px;
    background-color: #fc5200;
    border: 1px solid #fc5200;
    color: #fff;
    align-items: flex-end;
    height: 34px;
    font-weight: 700;
    font-size: 14px;
    padding: 6px;

}

@media screen and (min-width: 1500px) { 
    .routes-index-body {width: 1248px;}    
}

.routes-index-body > ul { 
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 23.6%);
    justify-content: center;
    row-gap: 40px;
    column-gap: 1.6%;
    position: relative;
}