/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require mapbox-gl
 *= require_tree .
 *= require_self
 */

 * { 
     font-family: "MaisonNeue", Helvetica, Arial, sans-serif;
 }

html, body {
   margin: 0px;
   width: 100%;
   height: 100%;
}

body {
   overflow: hidden; 
   font-family: "MaisonNeue", "Segoe UI", "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* #map { 
   height: 800px;
   width: 800px;
} */

footer { 
   position: fixed;
   width: 100%;
   height: 100%;
   bottom: 0;
}

h1 { 
   font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
}


thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

a { 
   color: #007FB6;
   text-decoration: none;
}