// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (min-width: 1500px) { 
    .activity {width: 1248px;}   
}

.activity { 
    display: flex;
    width: 100%;

}

.workout-show-container { 
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 80px;
}



.activities-index-body { 
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 18px;
}

.table th { 
    background-color: #f0f0f5;
}

.view-col { 
    display: table-cell;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding: 8px;
    line-height: 1.3em;
}

.table-padded>tbody>tr>td {
    padding-top: 16px;
    padding-bottom: 16px;
}

.table>tbody>tr>td{
    padding: 8px;
    line-height: 1.3em;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.col-num {
    text-align: right;
}

.col-title:hover { 
    text-decoration: underline;
}

.view-col, .col-edit .btn-link { 
    font-size: 14px;
}

.col-date, .col-type { 
    text-align: center;
}
.col-str:link { 
    text-align: center;
    text-decoration: none;
}

tr:nth-child(even) { 
    background-color: #f7f7fa;
}

.btn-link { 
    color: #007FB6;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    display: inline-block;
}

.btn-link:hover { 
    text-decoration: underline;
}


@media (min-width: 1199px) {
#search-results.table .col-type, 
#search-results.table .col-time, 
#search-results.table .col-dist, 
#search-results.table .col-elev {
    width: 100px;
    }
}

.activty h1  { 
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    height: 46px;
    word-break: break-word;
}

#heading { 
    padding: 0;
    z-index: 11;
}

#heading header {
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 45px;
    display: flex;
    flex-direction: row;
}

.media-body { 
    border: 1px solid #dfdfe8;
}

section header { 
    background: #f7f7fa;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dfdfe8;
    padding: 9px 20px;
    margin: 0;
    position: relative;
}

.activity.media { 
    width: 80%;
}

#heading h2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    -webkit-box-pack: start;
    justify-content: flex-start;
    max-width: 60%;
}

#heading h2 .title {
    -webkit-box-flex: 1;
    flex: 1 1;
    max-width: 100%;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    word-break: break-word;
}

.activity-summary-container { 
    position: relative;
    min-height: 200px;
    display: flex;
}

.activity-summary-container:before {
    content: '';
    display: block;
    width: 1px;
    border-right: 1px solid #f0f0f5;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
}

 .activity-summary-container:after {
    content: '';
    display: table;
    clear: both;
}

.activity-card { 
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    margin: 20px 0;
}

.activity-stats { 
    font-size: 12px;
    margin: 0;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #dfdfe8;
}

.activity-stats-list {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.inline-stats { 
    li {
        display: inline-block;
        vertical-align: top;
        position: relative;
        float: none;
        margin-right: 20px;
    }

    .label {
    white-space: normal;
    max-width: 100px;
    line-height: 1.2em;
    }
}

.actions { 
    height: 40px;
    display: inline-flex;
    box-shadow: -1px 0 0 #dfdfe8;
    border: 1px solid #f0f0f5;
    text-align: center;
}

.side-nav { 
        width: 154px;
    margin-left: -180px;
    z-index: 12;
    position: absolute;
}