// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.manual-entry-body { 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    width: 100%;
}   

.row { 
    margin-left: -16px;
    margin-right: -16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}